apiVersion: extensions/v1beta1
kind: ReplicationController
metadata:
  name: load
  labels:
    name: load
spec:
  replicas: 3
  template:
    metadata:
      labels:
        name: load
    spec:
      containers:
      - name: load
        image: eu.gcr.io/{{ GOOGLE_CLOUD_PROJECT }}/load
        {% if minikube %}
        imagePullPolicy: IfNotPresent
       {%- endif %}
        ports:
        - containerPort: 8080
        volumeMounts:
        {% if has_db -%}
        - name: secrets
          mountPath: /etc/secrets
          readOnly: true
        {%- endif -%}
      {% if hot_reload %}
        - name: reload
          mountPath: /app
      {%- endif %}
      volumes:
      {%- if has_db %}
      - name: secrets
        secret:
          secretName: db-passwords
      {% endif %}
      {%-if hot_reload -%}
      - name: reload
        hostPath:
          path: {{ hotreload_directory }}
      {% endif %}
---
