apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: api
  labels:
    name: api
spec:
  replicas: 3
  template:
    metadata:
      labels:
        name: api
        app: api
    spec:
      containers:
      - name: api
        image: eu.gcr.io/{{ GOOGLE_CLOUD_PROJECT }}/api:{{- api_tag -}}
        {% if minikube %}
        imagePullPolicy: IfNotPresent
       {%- endif %}
        ports:
        - containerPort: 8080
        volumeMounts:
        {% if has_db -%}
        - name: secrets
          mountPath: /etc/secrets
          readOnly: true
        {%- endif -%}
      {% if hot_reload %}
        - name: reload
          mountPath: /app
      {%- endif %}
      volumes:
      {%- if has_db %}
      - name: secrets
        secret:
          secretName: db-passwords
      {% endif %}
      {%-if hot_reload -%}
      - name: reload
        hostPath:
          path: {{ hotreload_directory }}
      {% endif %}
---

apiVersion: v1
kind: Service
metadata:
  name: api
  labels:
    name: api
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    name: api
